﻿<script id="clone-template" type="text/html">
    <div class="clone-container">
        <div id="cloneRecordName" class="clone-input control-wrapper">
            <div class="mdc-form-field w-100">
                <div class="mdc-text-field w-100">
                    <input class="mdc-text-field__input" id="inputCloneRecord">
                    <label class="mdc-floating-label label-style">Record Name</label>
                    <div class="mdc-line-ripple"></div>
                </div>
            </div>
        </div>

        <div data-bind="'text': message"></div>
        <ul class="clone-data" data-bind="foreach: { data: recordTitles, as: 'title' }">
            <li>
                <div class="clone-label-container">
                    <label class="clone-label" data-bind="'text': title"></label>
                </div>
                <ol class="ol-container" data-bind="foreach: { data: items, as: 'item' }">
                    <li>
                        <span class="clone-item" data-bind="text: item"></span>
                    </li>
                </ol>
            </li>
        </ul>
    </div>
</script>