﻿<script id="message-template" type="text/html">
    <div class="message-container">
        <div data-bind="text: mainMessage"></div>
        <ol data-bind="foreach: { data: items, as: 'item' }">
            <li data-bind="text: item"></li>
        </ol>
        <div data-bind="text: question"></div>
    </div>
</script>