﻿<script id="slideModalTemplate" type="text/html">
    <div class="container slide-modal-container">
        <div data-bind="attr: { 'id': modalId }, style: {'background-color': lightboxRgba}" role="dialog" class="side-modal modal right fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title disable-select" data-bind="text: title"></h5>
                    </div>
                    <div class="modal-body">
                        <form class="controls-container" id="controlsContainer"></form>
                    </div>
                    <div class="modal-footer">
                        <button id="close-modal-button" data-dismiss="modal" type="button" class="mdc-button destroyModal" data-bind="visible: displaySecondaryButton, text: secondaryButtonText, click: secondaryButtonHandler"></button>
                        <button type="button" id="create-record-button" class="mdc-button mdc-button--raised" data-bind="text: mainButtonText, click: mainButtonHandler"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>