.slide-modal-container .side-modal {
    position: absolute;
    z-index: 5;
}

    .slide-modal-container .side-modal > .modal-dialog {
        -webkit-box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.57);
        box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.57);
    }
        /*right modal*/
        .slide-modal-container .side-modal > .modal-dialog.right {
            height: 100%;
            margin: auto 0 auto auto;
            border: 0;
            width: 30%;
            min-width: 320px;
        }

        .slide-modal-container .side-modal > .modal-dialog > .modal-content {
            height: 100%;
            border-radius: 0;
            border-top: 0;
            border-right: 0 none !important;
        }

        /*center modal*/
        .slide-modal-container .side-modal > .modal-dialog.center {
        }


    /*TODO:*/
    .slide-modal-container .side-modal .modal-header {
        border-bottom: none;
        padding: 2em 6em 1em 5em;
    }

    .slide-modal-container .side-modal .modal-footer {
        height: 75px;
        border-top: 2px solid #d8d8d8;
        padding: 0 80px;
    }

        .slide-modal-container .side-modal .modal-footer .destroyModal {
            color: black;
        }

        .slide-modal-container .side-modal .modal-footer .mdc-button--raised {
            color: white;
            background-color: #007DB9;
        }

    .slide-modal-container .side-modal > .modal-dialog > .modal-content > .modal-body {
        height: 83%;
        overflow-y: auto;
        overflow-x: hidden;
        flex: none;
        padding: 0em 12% 3em 12%;
    }

    .slide-modal-container .side-modal.modal.right.fade.show .modal-dialog {
        right: 0;
    }

    .slide-modal-container .side-modal.modal.right.fade .modal-dialog {
        right: -320px;
        -webkit-transition: opacity 0.5s linear, right 0.5s ease-out;
        -moz-transition: opacity 0.5s linear, right 0.5s ease-out;
        -o-transition: opacity 0.5s linear, right 0.5s ease-out;
        transition: opacity 0.5s linear, right 0.5s ease-out;
    }

    /*TITLE*/
    .slide-modal-container .side-modal .modal-header .modal-title {
        font-family: 'Roboto';
        font-size: 28px;
    }

    /*CLONE*/
    .slide-modal-container .side-modal .clone-data {
        list-style-type: none;
        padding: 0;
    }

        .slide-modal-container .side-modal .clone-data .clone-label-container {
            border-bottom: 2px solid #b2b2b2;
            padding-top: 20px;
        }

            .slide-modal-container .side-modal .clone-data .clone-label-container .clone-label {
                color: #b2b2b2;
                font-family: Roboto;
                margin: 0;
                font-size: 15px;
            }

        .slide-modal-container .side-modal .clone-data .ol-container {
            padding-top: 10px;
            font-family: Roboto;
            padding-left: 20px;
        }

    .slide-modal-container .side-modal .clone-container .mdc-text-field .mdc-floating-label {
        left: 0px !important;
    }

    .slide-modal-container .side-modal .clone-container .clone-input {
        padding-bottom: 20px;
        padding-top: 40px;
    }

.slide-modal-container .small-height {
    height: 82% !important;
}

.slide-modal-container .large-height {
    height: 92% !important;
}
