﻿@using ToolKitGrid.ExtensionMethods
@using ToolKitGrid.Domain.Models.Identity
@using ToolKitGrid.ViewModels.Profile
@using ToolKitGrid.ViewModels
@using System.Security.Claims
@using Newtonsoft.Json;
@using Microsoft.Extensions.Configuration

@inject IConfiguration Configuration

@{
    ViewData["Title"] = "ANZ Qualify";

    LoanWriter loanWriter = User.GetClaim<LoanWriter>(ClaimTypes.UserData);
    ExternalLoanWriterModel externalLoanWriter = loanWriter.ToExternalLoanWriterModel();
    IntercomUser intercomUser = loanWriter.ToIntercomUser();
}

@section styles
    {
    <link href="~/lib/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" rel="stylesheet" />
    <link href="~/css/Record/record.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/mdcOverride.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/customKendo.css" rel="stylesheet" asp-append-version="true" />
}

<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner functionalities-container">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
            <span class="record-label" tabindex="0"><b>Records</b></span>
            <div id="search-text-box" class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon mdc-text-field--no-label custom-mdc-text-field">
                <i class="search material-icons mdc-text-field__icon" tabindex="-1">search</i>
                <input type="text" id="search-input" class="mdc-text-field__input" autocomplete="off" autofocus placeholder="Search">
                <i class="clear material-icons mdc-text-field__icon" tabindex="0" style="display:none">clear</i>
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
            <button tabindex="0" class="btn button-primary create-button">Create Record</button>
            <div class="dropdown main-dropdown">
                <button tabindex="0" class="btn button-secondary more-info-button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item main-archive archive disabled" href="#">Archive</a>
                    <a class="dropdown-item main-clone clone disabled" href="#">Clone</a>
                    <a class="dropdown-item main-delete delete disabled" href="#">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="grid" class="custom-grid" style="width: 100%;"></div>

@section modals{
    <div class="plugin-container">
    </div>
}

@section scripts {
    <script>
        var intercomSettings = @Html.Raw(Json.Serialize(intercomUser));

        console.log(intercomSettings);

        window.intercomSettings = intercomSettings;

        (function () {
            var w = window;
            var ic = w.Intercom;
            if (typeof ic === "function") {
                ic('reattach_activator');
                ic('update', w.intercomSettings);
            } else {
                var d = document; var i = function () {
                    i.c(arguments);
                };
                i.q = [];
                i.c = function (args) {
                    i.q.push(args);
                };
                w.Intercom = i;
                var l = function () {
                    var s = d.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = 'https://widget.intercom.io/widget/hhl8by6g';
                    var x = d.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                };

                if (w.attachEvent) {
                    w.attachEvent('onload', l);
                } else { w.addEventListener('load', l, false); }
            }
        })();
    </script>
    <script>
        require(["js/site", "js/materialInit"], function () {

        })
    </script>
    <script>
        require(["js/grid", "js/materialInit"], function () {

        });
    </script>
}