﻿@page
@model ToolKitGrid.Pages.UserProfileModel
@{
    ViewData["Title"] = "UserProfile";
}

@section modals{
    <div class="plugin-container">
    </div>
}

@section scripts {

    <script>
        require(["js/user"], function () {

        });
    </script>
}
