﻿<script type="text/html" id="mdc-multiselect-search-template">
    <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon mdc-text-field--no-label">
        <i class="material-icons mdc-text-field__icon">search</i>
        <input type="text" class="mdc-text-field__input" placeholder="Search for brokers...">
        <i id="multiselect-search-delete-button" class="material-icons mdc-text-field__icon" tabindex="0" role="button">clear</i>
    </div>
</script>