﻿.record-label {
    font-size: 1.5rem;
}

.mdc-layout-grid__inner.functionalities-container .mdc-layout-grid__cell {
    display: flex;
    align-items: center;
}

    .mdc-layout-grid__inner.functionalities-container .mdc-layout-grid__cell:nth-child(2) {
        justify-content: flex-end;
    }

#search-text-box {
    width: 270px;
}
