﻿<script type="text/html" id="CheckboxInputControl-template">
    <div>
        <label class="additional-label disable-select" data-bind="text: label, style: { 'font-size': labelFontSize }"></label>
    </div>
    <div class="mdc-form-field" data-bind="attr: { 'id': containerId }">
        <div data-bind="foreach: options" style="display: inline-grid;">
            <div class="mdc-checkbox">
                <input type="checkbox" autocomplete="off" class="mdc-checkbox__native-control" data-bind="attr: { value: checkedValue, name: $parent.name, 'data-name': $parent.name, id: uid, 'data-repeatableindex': $parent.repeatableIndex }" />
                <div class="mdc-checkbox__background">
                    <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                        <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                    </svg>
                    <div class="mdc-checkbox__mixedmark"></div>
                </div>
                <label class="disable-select label-box-style" style="margin-left: 30px; margin-bottom: 0px !important; margin-top: 10px;" data-bind="text: text, attr: { 'for': uid }"></label>
            </div>
        </div>
    </div>
</script>