﻿<script type="text/html" id="DateInputControl-template">
    <div class="mdc-text-field datepicker" data-bind="attr: {'id': containerId}, css: iconType, style: { 'margin-top': marginTop, 'margin-right': marginRight}">
        <input class="mdc-text-field__input datepicker-style input-style w-100" autocomplete="off" data-bind="attr: {'placeholder': placeholder, 'id': inputId, 'name': name, 'data-name': name, 'data-repeatableindex': repeatableIndex }">
        <label class="mdc-floating-label label-style" data-bind="text: label, attr: { 'for': inputId, 'id': labelId }" style="left: 0;"></label>
        <div class="mdc-line-ripple"></div>
    </div>
    <div class="error-message-container">
        <span class="required-error-message" data-bind="text: label + ' is required'"></span>
        <span class="restriction-error-message"></span>
        <span class="calculated-error-message"></span>
    </div>
</script>