﻿<script type="text/html" id="LeftLabelInputControl-template">
    <div class="left-label-input-container" data-bind="style: { 'width': width, 'padding-right': paddingRight}">
        <div class="label-wrapper" data-toggle="tooltip" data-bind="attr: { 'id': labelWrapperId, 'title': tooltipText}">
            <label class="label" data-bind="text: label, attr: { 'for': inputId }" style="left: 0;"></label>
        </div>
        <div class="input-wrapper" data-bind="attr: {'id': containerId}">
            <div class="mdc-text-field w-100" data-bind="css: iconType">
                <div data-bind="if: iconVisible">
                    <i class="material-icons mdc-text-field__icon" tabindex="-1" data-bind="text: iconClass"></i>
                </div>
                <input class="mdc-text-field__input" data-bind="attr: {'placeholder': placeholder, 'id': inputId, 'data-name': name, 'min': min, 'max': max, 'step': step, 'data-type': type,'data-repeatableindex': repeatableIndex } ">
                <div class="mdc-line-ripple"></div>
            </div>
        </div>
    </div>
    <div class="error-message-container">
        <span class="required-error-message" data-bind="text: label + ' is required'"></span>
        <span class="restriction-error-message"></span>
        <span class="calculated-error-message"></span>
    </div>
</script>