﻿<script type="text/html" id="NumberInputControl-template">
    <div class="mdc-form-field" data-toggle="tooltip" data-bind="attr: { 'id': containerId, 'title': tooltipText, 'data-placement': tooltipPlacement }, style: { 'width': width, 'padding-right': paddingRight }">
        <div class="left-label-container" data-bind="if: leftLabelVisible">
            <label class="additional-label disable-select" data-bind="text: leftLabelText"></label>
        </div>
        <div class="mdc-text-field w-100" data-bind="css: iconType, style: {  'margin-right': marginRight }">
            <div data-bind="if: iconVisible">
                <i class="material-icons mdc-text-field__icon" tabindex="-1" data-bind="text: iconClass"></i>
            </div>
            <input class="mdc-text-field__input" autocomplete="off" data-bind="attr: {'type': fieldType, 'placeholder': placeholder, 'id': inputId, 'data-name': name, 'min': min, 'max': max, 'step': step, 'data-repeatableindex': repeatableIndex } ">
            <label class="mdc-floating-label no-space-label label-style" data-bind="text: label, attr: { 'for': inputId, 'id': labelId }" style="left: 0px"></label>
            <div class="mdc-line-ripple"></div>
        </div>
        <div class="left-label-container" data-bind="if: rightLabelVisible">
            <label class="additional-label disable-select" data-bind="text: rightLabelText"></label>
        </div>
    </div>
    <div class="error-message-container">
        <span class="required-error-message" data-bind="text: label + ' is required'"></span>
        <span class="restriction-error-message"></span>
        <span class="calculated-error-message"></span>
    </div>
</script>