﻿<script type="text/html" id="TextInputControl-template">
    <div data-toggle="tooltip" class="mdc-form-field" data-bind="attr: { 'id': containerId, 'title': tooltipText, 'data-placement': tooltipPlacement }, style: { 'width': width }">
        <div class="left-label-container" data-bind="if: leftLabelVisible">
            <label class="additional-label disable-select label-style" data-bind="text: leftLabelText, style: { 'font-size': leftLabelFontSize, 'margin-right': leftLabelMargin, 'padding-right': paddingRight }"></label>
        </div>
        <div class="mdc-text-field" data-bind="css: iconType, style: { 'width': '100%', 'margin-right': marginRight }">
            <div data-bind="if: iconVisible">
                <i class="material-icons mdc-text-field__icon" tabindex="-1" data-bind="text: iconClass"></i>
            </div>
            <input class="mdc-text-field__input" autocomplete="off" data-bind="attr: {'placeholder': placeholder, 'type': type, 'id': inputId, 'data-name': name, 'data-repeatableindex': repeatableIndex }">
            <label class="mdc-floating-label label-style" data-bind="text: label, attr: { 'for': inputId, 'id': labelId }" style="left: 0;"></label>
            <div class="mdc-line-ripple"></div>
        </div>
        <div class="left-label-container" data-bind="if: rightLabelVisible">
            <label class="additional-label disable-select label-style" data-bind="text: rightLabelText, style: { 'font-size': rightLabelFontSize, 'margin-left': rightLabelMargin }"></label>
        </div>
    </div>
    <div class="error-message-container">
        <span class="required-error-message" data-bind="text: label + ' is required'"></span>
        <span class="restriction-error-message"></span>
        <span class="calculated-error-message"></span>
    </div>
</script>