﻿<script type="text/html" id="TitleControl-template">
    <div class="modal-title-container" data-bind="style:{ 'margin-top': marginTop }">
        <label class="modal-title-label disable-select" data-bind="text: text, style: { 'margin-left': marginLeft, 'font-size': fontSize, 'font-weight': fontWeight }"></label>
    </div>
    <button class="mdc-button" data-dismiss="modal" style="float: right; margin-top: -42px;">
        <span class="mdc-button__label">Close</span>
    </button>
</script>