﻿<script type="text/html" id="TooltipControl-template">
    <div class="subtitle-container" style="border-top: 2px solid #757575" data-bind="style:{ 'margin-top': marginTop }">
        <label class="subtitle-label" style="color: #A4A4A4;" data-bind="text: text, style: { 'margin-left': marginLeft, 'font-size': fontSize, 'font-weight': fontWeight, 'color': color }"></label>
    </div>
</script>