﻿@using ToolKitGrid.ExtensionMethods;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/images/anzfavicon.png" />
    <title>ANZ Qualify</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link href="~/vendor/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendor/material-components-web/material-components-web.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/vendor/KendoUI/styles/kendo.bootstrap-v4.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/vendor/JsonForms/Css/Style.css" rel="stylesheet" />
    <link href="~/vendor/SlideModal/Css/Style.css" rel="stylesheet" />
    <link href="~/vendor/roboto-fontface/css/roboto/roboto-fontface.css" rel="stylesheet" />
    <link href="~/css/navbar.css" rel="stylesheet" asp-append-version="true" />
    @RenderSection("styles", required: false)

</head>
<body>
    <div id="loader-wrapper">
        <div id="anzLogo">
            <img class="anz-logo" src="~/images/test4.png" alt="ANZ">
        </div>
        <div id="loader"></div>
        <div class="loader-footer">
            <p class="loader-text">
                ANZ Qualify is a toolkit which is designed to help brokers and their customers with the loan application process.
                Using ANZ Qualify is not a guarantee that ANZ will offer a loan to a customer (or offer a particular loan amount).
                All applications for credit are subject to ANZ’s credit approval criteria.
                Terms and conditions, fees and charges, and other eligibility criteria apply to ANZ loans.
            </p>
        </div>
    </div>
    <div class="row no-gutters navbar navbar-expand-lg navbar-light main-navbar">
        <div class="col-4 navbar-begin">
            <a href="@Url.Action("BackToOrigin", "Account")">
                <i class="fas fa-arrow-left"></i>
                Back to records
            </a>
        </div>
        <div class="col-4 row no-gutters justify-content-center navbar-center">
            <img src="~/images/test4.png" />
            <span>Qualify</span>
        </div>
        <div class="col-4 row no-gutters justify-content-end navbar-end">
            <partial name="_LoginPartial" />
        </div>
    </div>
    <main class="mdc-layout-grid">
        <div class="main-container">
            @RenderBody()
        </div>
        @RenderSection("modals", required: false)
    </main>
    <div class="footer text-muted">

        @{await Html.RenderPartialAsync("~/Pages/Shared/_Templates.cshtml");}

        <script src="~/vendor/requirejs/require.js"></script>
        <script src="~/js/init.js" asp-append-version="true"></script>
        <script>
            require(["js/site", "js/materialInit"], function () {

            })
        </script>

        <script type="text/html" id="facebook-loading-animation-template">
            <div class="facebook-loading-animation-wrapper">
                <div class="text-line"></div>
                <div class="text-line"></div>
                <div class="text-line"></div>
                <div class="text-line"></div>
                <div class="text-line"></div>
                <div class="text-line"></div>
                <div class="text-line"></div>
            </div>
        </script>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
