@using ToolKitGrid.ExtensionMethods
@using ToolKitGrid.Domain.Models.Identity
@using System.Security.Claims
@using Jdenticon.AspNetCore
@addTagHelper "*, Jdenticon.AspNetCore"

@{
    LoanWriter user = User.GetClaim<LoanWriter>(ClaimTypes.UserData);
    var iconValue = user.UniqueID;
}
@if (User.Identity.IsAuthenticated)
{
    <div id="user-details-button" role="button" tabindex="0" aria-pressed="false" data-toggle="collapse" data-target="#user-profile-collapse">
        <img identicon-value="iconValue" alt="Identicon" />
        <span>@User.Identity.Name</span>
        <i class="fas fa-chevron-down"></i>
    </div>
    <div class="collapse" id="user-profile-collapse">
        <div class="card card-body user-details-container">
            <div class="user-main-info-container">
                <img class="user-image" src="@user.ProfileImageUrl" />
                <label class="user-name">@user.FullName</label>
            </div>
            <div class="user-info-container">
                <span>Email</span>
                <label>@user.LoanWriterEmail</label>
            </div>
            <div class="user-info-container">
                <span>Phone</span>
                <label>@user.LoanWriterMobile?.FullNumber</label>
            </div>
            <div class="user-info-container">
                <span>State</span>
                <label>@user.LoanWriterAddress?.AustralianState</label>
            </div>
            <div class="user-info-container">
                <span>AO</span>
                <label>@user.AO</label>
            </div>
            <div class="user-info-container">
                <span>SAO</span>
                <label>@user.SAO</label>
            </div>
            <hr />
            <div class="user-info-container">
                <span>BDM</span>
                <label>@user.BDMFirstName</label>
            </div>
            <div class="user-info-container">
                <span>Email</span>
                <label>@user.LoanWriterEmail</label>
            </div>
            <div class="user-info-container">
                <span>Phone</span>
                <label>@user.LoanWriterMobile?.FullNumber</label>
            </div>
            <div>
                <a href="@Url.Action("BackToOrigin", "Account")">Logout</a>
            </div>
        </div>
    </div>
}
