﻿.k-pager-wrap > .multiselect-native-select {
    border-right: 1px solid #c5c1c1;
}

.k-grid {
    border: none;
    margin-bottom: 56px;
}

    .k-grid .k-alt {
        background-color: white;
    }

    .k-grid td, .k-grid th {
        padding: 0.85rem 1rem !important;
        border-style: none;
    }

    .k-grid tr {
        height: 55.5px;
    }

.k-grid-header {
    background-color: #F4F5F7;
    border-color: white;
    border-bottom: 2px #e2e2e2 solid;
    padding-right: 0 !important;
}

    .k-grid-header .k-header:first-child {
        border-left-width: 5px;
    }

    .k-grid-header .k-header {
        vertical-align: middle;
    }

.k-grid-content {
    overflow: auto;
}

.k-grid-pager {
    color: #212529;
    padding: .375rem;
    background-color: white;
    background-color: #F4F5F7;
}

.k-pager-wrap.k-grid-pager.k-widget.k-floatwrap {
    bottom: 0;
    position: fixed;
    width: 100%;
}


.k-i-sort-asc-sm::before,
.k-i-sort-desc-sm::before {
    top: 0.8rem;
    font-size: 1rem;
    position: absolute;
}

.k-i-sort-asc-sm,
.k-i-sort-desc-sm {
    margin-left: 5px !important;
}

.k-grid col.k-sorted, .k-grid th.k-sorted {
    background-color: white;
}

.k-grid .k-checkbox:focus + .k-checkbox-label:before {
    box-shadow: none;
}

.k-grid tr:hover .k-checkbox-label,
.k-grid tr .k-checkbox:checked + .k-checkbox-label {
    display: inline-block;
}

.k-grid tr:hover .k-checkbox-label,
.k-grid tr .k-checkbox:checked + .k-checkbox-label {
    display: inline-block;
}

.k-grid > table > tbody > tr:hover,
.k-grid-content > table > tbody > tr:hover {
    background-color: #D1E7F3;
}

.k-checkbox:checked + .k-checkbox-label::before {
    border-color: #007DBA;
    background-color: #007DBA;
}

.k-checkbox-label::before {
    border-color: #c5c0c0;
    background-color: white;
}

.k-grid td.k-state-selected, .k-grid th.k-state-selected, .k-grid tr.k-state-selected > td,
.k-grid td.kendo-row-selected, .k-grid th.kendo-row-selected, .k-grid tr.kendo-row-selected > td {
    background-color: #D1E7F3;
}

    .k-grid td.k-state-selected, .k-grid th.k-state-selected, .k-grid tr.k-state-selected > td:first-child,
    .k-grid td.kendo-row-selected, .k-grid th.kendo-row-selected, .k-grid tr.kendo-row-selected > td:first-child {
        border-left: 5px solid #007DBA;
    }

.k-grid td:first-child, .k-grid th:first-child {
    border-left: 5px solid transparent;
    box-sizing: border-box;
}

.k-grid-header .k-i-sort-asc-sm, .k-grid-header .k-i-sort-desc-sm, .k-grid-header .k-sort-order {
    color: #178D8D;
}

.k-pager-numbers .k-state-selected, .k-pager-numbers .k-state-selected:hover {
    border-color: #004165;
    background-color: #004165;
}

.k-grid.data-grid td.fileTypeData {
    padding-left: 36px !important;
}

.k-pager-wrap .k-label {
    flex: 1;
}

.k-pager-wrap .k-pager-info {
    flex: none;
}

.k-pager-wrap.k-grid-pager.k-widget.k-floatwrap {
    overflow: initial;
}


.k-pager-wrap.k-pager-lg .k-pager-numbers, .k-pager-wrap.k-pager-md .k-pager-numbers, .k-pager-wrap.k-pager-sm .k-pager-numbers {
    flex-direction: row;
}

    .k-pager-wrap.k-pager-lg .k-pager-numbers .k-current-page, .k-pager-wrap.k-pager-md .k-pager-numbers .k-current-page, .k-pager-wrap.k-pager-sm .k-pager-numbers .k-current-page {
        display: none;
    }

    .k-pager-wrap.k-pager-lg .k-pager-numbers .k-link, .k-pager-wrap.k-pager-lg .k-pager-numbers .k-state-selected, .k-pager-wrap.k-pager-md .k-pager-numbers .k-link, .k-pager-wrap.k-pager-md .k-pager-numbers .k-state-selected, .k-pager-wrap.k-pager-sm .k-pager-numbers .k-link, .k-pager-wrap.k-pager-sm .k-pager-numbers .k-state-selected {
        width: 33.5px;
    }

    .k-pager-wrap.k-pager-lg .k-pager-numbers li:not(.k-current-page), .k-pager-wrap.k-pager-md .k-pager-numbers li:not(.k-current-page), .k-pager-wrap.k-pager-sm .k-pager-numbers li:not(.k-current-page) {
        display: block;
    }
/*custom kendro grid elements css*/

.k-header.k-sorted {
    background-color: #eaebeb !important;
    font-weight: 600;
}

/*.k-loading-image {
    display: none;
}*/

.status-element {
    background-color: white;
    border: 1px solid black;
    margin-right: 5px;
    border-radius: 5px;
}

.pozitive-result {
    border-color: #9CBE5C;
    color: #9CBE5C;
}

.negative-result {
    border-color: #FF1C42;
    color: #FF1C42
}

.informative-result {
    border-color: #FFD23C;
    color: #FFD23C
}

.new-result {
    border-color: #4FA5D0;
    color: #4FA5D0
}

.record-name {
    color: #007DBA;
    cursor: pointer;
}

    .record-name:hover {
        border-bottom: 1px solid #007DBA;
    }
