﻿.custom-mdc-text-field.mdc-text-field {
    height: 36px;
}

.custom-mdc-text-field.mdc-text-field--with-leading-icon .mdc-text-field__icon,
.custom-mdc-text-field.mdc-text-field--with-trailing-icon .mdc-text-field__icon {
    bottom: 6px;
}