﻿
.side-modal {
    pointer-events: none;
    position: absolute;
    z-index: 6;
}

    .side-modal > .modal-dialog {
        margin-top: 0;
        height: 100%;
        margin: auto 0 auto auto;
        -webkit-box-shadow: 0px 0px 22px -5px rgba(0, 0, 0, 0.57);
        -moz-box-shadow: 0px 0px 22px -5px rgba(0, 0, 0, 0.57);
        box-shadow: 0px 0px 22px -5px rgba(0, 0, 0, 0.57);
        border: 0;
        width: 32%;
        min-width: 320px;
    }

        .side-modal > .modal-dialog > .modal-content {
            height: 100%;
            border-radius: 0;
            border-top: 0;
        }

    .side-modal .modal-header {
        border-bottom: none;
        padding: 2em 5em 1em 5em;
    }

    /*.side-modal .modal-footer {
        height: 100%;
        border-top: 2px solid #d8d8d8;
    }

        .side-modal .modal-footer .destroyModal {
            color: black;
        }

        .side-modal .modal-footer .mdc-button--raised {
            color: white;
            background-color: #007DB9;
        }*/

    .side-modal > .modal-dialog > .modal-content > .modal-body {
        overflow-y: auto !important;
        height: 83%;
        /*overflow-x: hidden;*/
        flex: none;
        padding: 0em 5em 3em 5em;
    }

    .side-modal.modal.right.fade.show .modal-dialog {
        right: 0;
        overflow-y: hidden;
    }

    .side-modal.modal.right.fade .modal-dialog {
        right: -320px;
        -webkit-transition: opacity 0.5s linear, right 0.5s ease-out;
        -moz-transition: opacity 0.5s linear, right 0.5s ease-out;
        -o-transition: opacity 0.5s linear, right 0.5s ease-out;
        transition: opacity 0.5s linear, right 0.5s ease-out;
    }
