﻿/********* Main Navbar *********/

.main-navbar {
    height: 48px;
    background: #004165;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar .navbar-begin * {
    color: white;
    font-size: 16px;
}

.navbar .navbar-begin i {
    padding-right: 5px;
}

.navbar .navbar-begin a:hover {
    text-decoration: none;
}

.navbar .navbar-center img {
    height: 26px;
    padding-right: 5px;
}

.navbar .navbar-center span {
    color: white;
    align-self: center;
    font-size: 20px;
}

/******** User Details ********/
#user-details-button {
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
    /*outline: 0;*/
}

    #user-details-button img {
        height: 30px;
        padding-right: 10px;
    }

    #user-details-button span {
        padding-right: 10px;
    }

    #user-details-button span,
    #user-details-button i {
        color: white;
    }

    #user-details-button:hover {
        border-bottom: 1px solid #007DBA;
    }

        #user-details-button:hover span {
            padding-top: 1px;
        }

#user-profile-collapse {
    top: 48px;
    position: fixed;
    z-index: 1;
    min-width: 300px;
}

    #user-profile-collapse > .user-details-container {
        padding: 20px;
    }

        #user-profile-collapse > .user-details-container .user-main-info-container {
            height: 50px;
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }

            #user-profile-collapse > .user-details-container .user-main-info-container img {
                height: 100%;
                padding-right: 15px;
            }

            #user-profile-collapse > .user-details-container .user-main-info-container label.user-name {
                font-weight: bold;
                font-size: 1.5rem;
            }

        #user-profile-collapse > .user-details-container .user-info-container span {
            width: 30%;
            display: inline-block;
            color: #0000008a;
            font-weight: bold;
        }

        #user-profile-collapse > .user-details-container .user-info-container label {
            font-weight: bold;
        }

        #user-profile-collapse > .user-details-container hr {
            border: 1px solid hsla(0, 0%, 0%, 0.50);
        }
