﻿html, body {
    margin: 0;
    height: 100%;
    font-size: 14px;
    font-family: 'Roboto-Light', sans-serif !important;
    user-select: none;
    min-width: 1080px;
    min-height: 600px;
}

main {
    height: calc(100% - 48px);
}

/*********** Fonts ***********/

.roboto-light {
    font-family: 'Roboto-Light', sans-serif;
}

.roboto-medium {
    font-family: 'Roboto-Medium', sans-serif;
}

#search-input:focus {
    border-color: #007DB9 !important;
}
/* Loader */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 100%;
    z-index: 1000;
    background: #004165;
}

#anzLogo {
    display: block;
    position: relative;
    left: 33%;
    top: 27%;
    z-index: 1001;
    height: 7%;
    width: 36%;
    text-align: center;
}

.anz-logo {
    height: 70px;
}

#loader {
    display: block;
    position: relative;
    left: 51%;
    top: 40%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: white;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: white;
        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: white;
        -webkit-animation: spin 1.5s linear infinite;
        animation: spin 1.5s linear infinite;
    }

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#loader-wrapper .loader-footer {
    display: block;
    position: relative;
    left: 33%;
    top: 45%;
    z-index: 1001;
    height: 7%;
    width: 36%;
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto-Light';
    color: white;
}

.main-container {
    height: 100%;
}

main.mdc-layout-grid {
    padding: 0;
    overflow: auto;
}

/* Bootstrap default styling overriding */
/**, ::after, ::before {
    box-sizing: initial;
}*/
/**:focus {
    background-color: red !important;
}*/
img {
    vertical-align: unset;
}

.btn.focus, .btn:focus {
    box-shadow: none;
}

/********** Bootstrap buttons **********/

.button-primary,
.button-secondary {
    border-color: #007DB9;
}

    .button-primary:hover,
    .button-secondary:hover {
        color: white;
        background: #004165;
        border-color: #004165;
    }

.button-primary {
    background-color: #007DB9;
    color: white;
}

.button-secondary {
    color: #007DB9
}

.create-button {
    margin-right: 10px;
    width: 127px;
}

.grid-dropdown {
    width: fit-content;
}

.more-info-button {
    width: 34px;
}

    .more-info-button:after {
        display: none;
    }

.more-info-button-grid {
    color: #007DB9;
    width: 34px;
}

.dropdown-toggle:hover,
.dropdown-toggle:not(:disabled):not(.disabled).active,
.dropdown-toggle:not(:disabled):not(.disabled):active,
.show > .dropdown-toggle {
    color: white;
    background: #004165;
}

.more-info-button-grid:after {
    display: none;
}

.dropdown-menu.show[x-placement="bottom-end"] {
    top: -3px !important;
}

.dropdown-menu.show[x-placement="top-end"] {
    top: 1px !important;
}

.dropdown-item {
    padding: 1rem 1.5rem;
}
/*        CHECK THIS AGAIN BOGDAN ( FOR GRID BUTTONS )      */
.mdc-layout-grid__inner.functionalities-container .mdc-layout-grid__cell.mdc-layout-grid__cell--span-6:first-child > * {
    margin-right: 30px;
}

.functionalities-container .mdc-button {
    background-color: #007DB9;
    margin-right: 5px;
}

.design-button, .k-design-button {
    background-color: inherit;
    border: 1px solid #3899C8;
    border-radius: 5px;
    color: #3899C8;
    height: 36px;
}

.k-design-button {
    padding: 0;
}

    .k-design-button .menu-grid-dots {
        height: 100%;
        width: 100%;
        padding: 6px;
    }

.mdc-menu-surface--open ~ .design-button, .mdc-menu-surface--open ~ .k-design-button {
    background-color: #004165;
    border-color: #004165;
    color: white;
    cursor: pointer;
}

/*button:focus {
    outline: 0;
}*/

.disabled {
    pointer-events: none;
    opacity: 0.6;
}





/******** Multiselect Bootstrap ********/
.multiselect-container > li > a {
    color: #212529;
}

    .multiselect-container > li > a > label.radio, .multiselect-container > li > a > label.checkbox {
        padding-left: 10.5px !important;
        width: 100%;
    }

.dropdown-menu a:focus {
    outline-color: none;
}

select.bootstrap-multiselect + div.btn-group .multiselect-container.dropdown-menu {
    padding: 15px;
}

    select.bootstrap-multiselect + div.btn-group .multiselect-container.dropdown-menu li.multiselect-filter input.multiselect-search {
        border-radius: 5px;
    }

select.bootstrap-multiselect + div.btn-group button.multiselect[aria-expanded="true"] {
    background-color: #004165;
}

    select.bootstrap-multiselect + div.btn-group button.multiselect[aria-expanded="true"] span.multiselect-selected-text,
    select.bootstrap-multiselect + div.btn-group button.multiselect[aria-expanded="true"]::after {
        color: white;
    }

select#grid-column-multiselect.bootstrap-multiselect + div.btn-group ul.multiselect-container {
    right: 0 !important;
    left: auto !important;
}

/* Material Design for Multiselect Bootstrap*/
select.bootstrap-multiselect + div.btn-group li label .mdc-checkbox__native-control {
    display: none;
}

select.bootstrap-multiselect + div.btn-group li label .mdc-checkbox__background {
    position: relative;
    margin-right: 5px;
    top: -4px;
    border-radius: 5px;
}

select.bootstrap-multiselect + div.btn-group .multiselect-container.dropdown-menu.show {
    border-radius: 10px;
    width: 230px;
}

.multiselect-container * {
    box-sizing: border-box;
}

.mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
.mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background {
    border-color: #007DBA;
    background-color: #007DBA;
}

.mdc-text-field--with-trailing-icon.mdc-text-field--outlined .mdc-text-field__icon.search {
    left: 8px;
    right: unset;
}

.mdc-text-field--with-trailing-icon.mdc-text-field--outlined .mdc-text-field__input {
    padding-left: 33px;
}

/************* Facebook loading animation *************/

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }

    100% {
        background-position: 468px 0
    }
}

.text-line {
    width: 100%;
    margin: 4px 0;
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    height: 56px;
    position: relative;
    margin-bottom: 30px;
}

#controlsContainer {
    display: none;
}
